@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

.container{
    display: flex;
    flex-direction: column;
}


.header-transparent{
    display: flex;
    margin-left: 4em;
    margin-right: 4em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin-bottom: -101px;
    z-index: 1;

}


.header-transparent h2{
    color: #2979ff;
    font-size: 32px;
}


.login-btn{
    padding: 12px 40px;
    outline: none;
    border: none;
    background: #2979ff;
    color: aliceblue;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.hero-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-res.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    
    
    
}

.hero-section h2{
    color: aliceblue;
    font-family: poppins,sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    max-width: 55%;
    text-align: center;
    z-index: 1;
    margin: 0;
}

.hero-section p{
    color: whitesmoke;
    font-family: poppins,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    z-index: 1;
}

.hero-section button{
    padding: 12px 40px;
    outline: none;
    border: none;
    background: #2979ff;
    color: aliceblue;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}

.overlay {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: -100vh;
}





@media only screen and (max-width: 600px) {
    .header-transparent h2{
        color: #ff2929;
        font-size: 32px;
    }
}
    









